* {
  box-sizing: border-box;
}
/** ====================
 * Estilos extra a boostrap del navbar
 =======================*/
.navbarra{
  padding: 0;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
}
nav h2{
  color: #ffecb3;
  font-family: "Sofia", cursive;
  font-weight: bold;
  font-size: 32px;
  margin-top:8px;
}
