/** ====================
 * Css para parte 2/2 de la pagina principal contiene
 * ~estilos para la tabla general y de perfil
 =======================*/
* {
  font-family: Helvetica Neue, Arial, sans-serif;
}
/** ====================
 * contenedor principal del cuerpo de la tabla
 =======================*/

.tablaposiciones{
  margin: 2% 0;
  /* position: fixed; */
}

#flopationes {
  text-align: center;
  border-collapse: collapse;
   width: 100%;
   padding: 0;
  color: #fff;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

/** ====================
 * Estilos para cada fila + el efecto de transición
 =======================*/
.th_flopationes, .td_flopationes {
  padding: 2px;
  font-size: 16px;
}

.tr_flopationes {
  background-color: rgb(242, 238, 217);
}

#columna_flopationes, .tr_flopationes, .td_flopationes {
  transition: .4s ease-in;
}

#columna_flopationes {
  /* background-color:#454235; */
  background-color: rgba(243, 150, 154,1);
}

.td_flopationes {
  color: rgba(0, 0, 0, 0.9);
  justify-content: center;
}

.tr_flopationes:hover,.td_flopationes:empty {
  background: #ffecb3;
  pointer-events: visible;
}

.tr_flopationes:hover {
  transform: scale(1);
  /* color: black; */
  font-weight: 700;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
/** ====================
 * Avatar de la tabla
 =======================*/
.avatar-position img{
  width: 50px;
  height: 50px;
  float:left;
  margin-left: 10px;
  margin-top: 5px;
}
